.btn-primary{
   
    color: rgb(7, 7, 7);  background-color: #e7d210f6;  border-color: #e7d210f6;
    padding: 12px;
    border-radius: 20px;
    font-size: 22px;
    display: inline; 
}

select {
    background-color: rgb(9, 129, 5);
    font-family: cursive;
    font-size: 23px;
}
h3 {
    font-size: 29px;
    font-family: cursive;
    color:  rgb(11, 8, 235);    
}
input {
    font-size: 25px;    
}
h1 {
    font-family: cursive; color: rgb(11, 8, 235);  
}
img {
    float: left;
    width: 350px;
    height: 350px;
    margin: 10px;

}